* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 35em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: black;
}

.appName {
    width: 100%;
    height: 4em;
    border-bottom: 1px solid #F29F05;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pumpkinImage {
    height: 2em;
    width: 2em;
}

.name {
    font-size: 16px;
    font-weight: bolder;
    color: white;
}

.pumpkin {
    height: 25em;
    width: 25em;
}



.animatedBat {
    position: relative;
  /*
    animation-name: bat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    */
}

@keyframes bat {
    0% {
        left: -230px; /* Start off-screen on the left */
    }
    100% {
        left: 100%; /* Move to the right, off-screen */
    }
}

