* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-image: url("C:\Users\Vitor\Desktop\Projects\spooky-story-generator\src\components\header\sprite5-sheet0.png");
    height: 25em;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    color: #EBF2B6;
    position: relative;
    top: 1em;
}