* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 45em;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-direction: column;
    background-image: url("C:\Users\Vitor\Desktop\Projects\spooky-story-generator\src\components\header\halloween-2837936_1280.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

.divBtn {
    position: relative;
    right: 4em;
    width: 50%;
    color: white;
}

.appName {
    width: 100%;
    height: 4em;
    border-bottom: 1px solid #F29F05;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pumpkinImage {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.name {
    font-size: 16px;
    font-weight: bolder;
    color: white;
}



.animatedBat {
    position: relative;
  /*
    animation-name: bat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    */
}

@keyframes bat {
    0% {
        left: -230px; /* Start off-screen on the left */
    }
    100% {
        left: 100%; /* Move to the right, off-screen */
    }
}

@media only screen and (min-width: 1440px) {
    .header {
        height: 50em;
    }
}

@media only screen and (min-width: 2560px) {
    .appName {
        height: 10em;
    }

    .name {
        font-size: 32px;
    }
    
    .pumpkinImage {
        width: 5em;
        height: 5em;
    }
}